$mine-green: #0F9E74;
$mine-grey: #EDEDED;
$bg-grey: #FAFAFA;
$high-light: #0B8D6E;

$main-black: #292B2E;
$sub-black: #5F646D;
$link-blue: hsl(204, 70%, 53%);
$link-blue-hover: hsl(204, 72%, 43%);
$link-hover-bg: #16E6A9;

$google: #EA4335;
$github: #4078C0;
$codepen: #000000;
$linkedin: #0077B5;

.ljc-gradient-bg {
    background-color: #0b5493;
    background-image: linear-gradient(to right, #083964, #107dda);
}