@import 'media_query';
@import 'color';
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body {
    font-family: "Ubuntu", "Microsoft JhengHei", "微軟正黑體", "PingFang TC", "Open Sans", sans-serif, Arial;
    color: $main-black;
    font-size: 18px;
    @include phone-xxs-media {
        font-size: 16px;
    }
}
* { box-sizing: border-box; }
a { text-decoration: none; }
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
@for $i from 1 to 7 {
	h#{$i} { 
        margin: 0; 
    }
}
hr, p, address { 
    margin:0; 
    padding: 0;
}
::selection {
    background-color: $mine-green;
    color: #ffffff;
}


@mixin transition() {
    transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
}


header, footer {
    text-align: center;
    height: 100px;
    padding: 20px;
    a {
        display: inline-block;
        vertical-align: middle;
        color: $main-black;
    }
    img.logo {
        width: 60px;
        height: auto;
        margin-right: 15px;
    }
    ul {
        display: inline-block;
        a {
            color: $main-black;
            padding: 15px;
            @include transition;
            &:hover {
                color: $mine-green;
            }
        }
    }
    @include phone-xxs-media {
        height: 70px;
        padding: 10px;
        img.logo {
            width: 50px;
            margin-right: 10px;
        }
        ul {
            a { padding: 10px; }
        }
    }
}
header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .95);
}
footer {
    padding: 25px 20px;
    background: $mine-grey;
    font-size: 16px;
    img.logo {
        width: 50px;
    }
    @include phone-xxs-media {
        font-size: 14px;
        padding: 15px 10px;
        img.logo {
            height: 40px;
        }
    }
}


a.link-blue {
    color: $link-blue;
    @include transition;
    &:hover {
        color: $link-blue-hover;
    }
}

.clearfix {
    clear: both;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.container {
    max-width: 970px;
    margin: auto;
    padding: 0 15px; 	
}
.hight-light {
    color: $high-light !important;
    font-weight: 500;
}
.grey-bg {
    background-color: $bg-grey;
}
.text-center-xs {
    @include phone-xs-media {
        text-align: center;
    }
}
.caption {
    color: $main-black;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
    @include phone-xxs-media {
        font-size: 20px;
        margin-bottom: 20px;
    }
}
.content-text {
    color: $sub-black;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.68em;
    @include phone-xxs-media {
        font-size: 16px;
    }
    &.margin-bottom {
        margin-bottom: 24px;
    }
    &.darker {
        color: $main-black;
        opacity: 0.9;
    }
    &.text-mark {
        display: inline-block;
        margin-top: 1.5rem;
        padding: 0 4px 1px;
        font-style: italic;
        background-image: url(../images/wave.png);
        background-repeat: repeat-x;
        background-position: bottom;
    }
}
.fade-content-text {
    color: $sub-black;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 1em;
    @include phone-xxs-media {
        font-size: 14px;
    }
}
.check-tools {
    margin-top: 16px;
    li {
        padding: 8px 8px 8px 25px;
        background-image: url(../images/check_symbol.png);
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .35px;
        display: inline-block;
        color: $high-light;
    }
}
.bottom-link-box {
    font-size: 0;
    .bottom-link {
        width: 50%;
        display: inline-block;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .5px;
        padding: 50px 0;
        color: $link-blue;
        font-weight: 500;
        background-color: #ffffff;
        @include transition;
        &:hover {
            color: #ffffff;
            background-color: $link-hover-bg;
            text-shadow: 0 0 5px rgba(0, 0, 0, .1);
        }
        @include phone-xxs-media {
            width: 100%;
            font-size: 16px;
            letter-spacing: .35px;
            padding: 25px 0;
        }
    
    }
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
    @include phone-xxs-media {
        padding-top: 40px;
        padding-bottom: 40px; 
    }
}


#main-page {
    margin-top: 100px;
    @include phone-xxs-media {
        margin-top: 70px;
    }
    section {
        padding-top: 40px;
        padding-bottom: 40px;
        @include phone-xxs-media {
            padding-top: 20px;
            padding-bottom: 20px; 
        }
    }
}

// about
.my-photo {
    margin: 40px auto 0;
    max-width: 400px;
    height: 300px;
    border-radius: 4px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
    @include phone-xxs-media {
        margin: 20px auto 0;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}

.contact-icon {
    display: inline-block;
    padding: 0 8px;
    font-size: 22px;
    color: $sub-black;
    @include transition;
    &:hover {
        color: $mine-green;
        &.gmail { color: $google; }
        &.github { color: $github; }
        &.codepen { color: $codepen; }
        &.linkedin { color: $linkedin; }
    }
}

.about-group {
    &+.about-group {
        margin-top: 24px;
        @include phone-xxs-media {
            margin-top: 18px;
        }
    }
}
.about_tools {
    position: relative;
    margin-top: 14px;
    padding-top: 6px;
    &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 14px;
        height: 1px;
        background-color: $sub-black;
        opacity: 0.85;
    }
    font-size: 16px;
    color: $sub-black;
    @include phone-xxs-media {
        font-size: 14px;
    }
}

.group-list {
    margin-left: 1em;
    margin-top: 1em;
    li {
        list-style-type: disc;
        line-height: 1.68em;
        &+li {
            margin-top: .45em;
        } 
    }
    &.no-margin-top {
        margin-top: 0;
    }
}
#up-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    text-align: center;
    transform: rotate(270deg);
    color: $sub-black;
    background-color: #fff;
    opacity: .65;
    @include transition;
    &:hover {
        opacity: 1;
        color: $mine-green;
    }
}

// index
.works-link {
    display: block;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    img {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0 , 0);
        @include transition;
    }
    .topic {
        color: $main-black;
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
        @include transition;
    }
    &:hover {
        img {
            box-shadow :0 10px 20px rgba(0, 0, 0, 0.15);
            transform: translateY(-6px);
        }
        .topic {
            color: $mine-green;
        }
    }
}

// app
.app-icon {
    width: 84px;
    height: auto;
    margin-bottom: 40px;
    @include phone-xxs-media {
        width: 60px;
        margin-bottom: 30px; 
    }
}
.green-bg {
    background-color: #65B144;
    .caption, .content-text {
        color: #fff;
    }
    .wh-group {
        margin-top: 24px;
        color: #fff;
        @include phone-xxs-media {
            margin-top: 18px;
        }
        .wh-topic {
            position: relative;
            font-size: 16px;
            letter-spacing: .35px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
            padding-bottom: 5px;
            margin-bottom: 5px;
            @include phone-xxs-media {
                font-size: 15px;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0; right: 0; margin: auto;
                width: 20px;
                height: 2px;
                background-color: rgba(255, 255, 255, .3);
            }
        }
        .wh-contact-text {
            font-size: 17px;
            line-height: 1.68em;
            @include phone-xxs-media {
                font-size: 14px;
            }
        }
    }
    .process-balls-box {
        margin-top: 42px;
        margin-bottom: -8px;
        @include phone-xxs-media {
            display: none;
        }
        .process-ball {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: .35px;
            width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 50%;
            margin: 8px;
            background-color: rgba(255, 255, 255, .85);
            color: #4A4F57;
            @include transition;
            &:hover, &.active {
                background-color: rgba(255, 255, 255, 1);
                color: $high-light;
                transform: translateY(-6px);
                box-shadow :0 2px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
.flow-chart-bg {
    background-image: url('../images/app_blossom/blossom _flowchart_bg.jpg');
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: center center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
.wireframe-box {
    margin-top: 16px;
    margin-bottom: -8px;
    .wireframe-img {
        display: inline-block;
        overflow: hidden;
        margin: 8px;
        border-radius: 4px;
        width: 250px;
        height: 250px;
        @include phone-xs-media {
            width: 150px;
            height: 150px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.app-design-high-light-bg {
    background-image: url(../images/app_blossom/highlight_bg.jpg);
    background-size: cover;
    background-position: center center;
    .caption, .content-text {
        color: #ffffff;
        text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }
}


// web
.ljc-mockup {
    display: block;
    width: 100%;
    margin-top: 48px;
    margin-bottom: -80px;
    @include phone-xxs-media {
        margin-top: 24px;
        margin-bottom: -40px;
    }
}
.ljc-gradient-bg {
    background-color: #0b5493;
    background-image: linear-gradient(to right, #083964, #107dda);
    .caption, .content-text {
        color: #ffffff;
        text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }
}
#before-after-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 42%;
    margin-top: 30px;
    @include phone-xxs-media {
        margin-top: 20px;
    }
    .before ,.after {
        position: absolute;
        top: 0;
        height: 100%;
        background-size: cover;
    }
    .before {
        z-index: 1;
        left: 0;
        background-image: url(../images/web_design/ljc_html.png);
        width: 40%;
    }
    .after {
        z-index: 2;
        right: 0;
        background-image: url(../images/web_design/ljc_screenshot.png);
        width: 60%;
    }
}
.others-web-box {
    .other-web-link {
        display: block;
        text-align: left;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin: 15px;
        @include transition;
        .link-content-text {
            position: relative;
            background-color: #ffffff;
            padding: 15px 50px 15px 20px;
            @include phone-xxs-media {
                padding: 10px 40px 10px 15px;
            }
            .link-topic {
                color: $main-black;
                font-size: 18px;
                font-weight: 500;
                @include phone-xxs-media {
                    font-size: 16px;
                }
            }
            .link-intro {
                color: $sub-black;
                font-size: 16px;
                margin-top: 6px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @include phone-xxs-media {
                    font-size: 14px;
                }
            }
            .icon-link {
                font-weight: bold;
                color: $sub-black;
                position: absolute;
                right: 20px;
                bottom: 26px;
                opacity: 0.6;
                @include phone-xxs-media {
                    font-size: 14px;
                    right: 15px;
                    bottom: 21px;
                }
            }
        }
        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
            transform: translateY(-6px);
            .link-content-text {
                .link-topic {
                    color: $mine-green;
                }
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
}